@model IEnumerable<BandSite.Models.ThreadPost>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Forum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forum.ForumMessage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThreadPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThreadPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThreadPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
